.container
  .row
    .col-md-6.col-sm-12
      .h3.text-primary
        = "Bienvenidos"
      .panel.panel-default
        .panel-body
          .h4.text
            = "Este cuestionario forma parte de un trabajo de investigación destinado a mejorar nuestro conocimiento de las dificultades de las personas para comprender diferentes tipos de textos médicos."
          .h4.text
            = "Consiste en leer textos muy breves, y para cada texto responder tres preguntas simples sobre su dificultad. Pueden hacerse tantos textos como se deseen (cuantos más, mejor)."
          .h4.text
            = "Todas las respuestas son totalmente anónimas, de manera que nadie --ni siquiera los investigadores-- podrá asociarlas con la identidad de su autor."
          .h4.text
            = "Agradecemos anticipadamente su inestimable colaboración con nuestro trabajo de investigación a través de su participación en este estudio."
          .h4.text
            = "Los investigadores a cargo del proyecto son Ruben Festini (Depto. de Computación, FCEyN, Universidad de Buenos Aires), Agustín Gravano (CONICET y Universidad Torcuato Di Tella) y Sebastián J. Lipina (Unidad de Neurobiología Aplicada, CEMIC-CONICET). Por cualquier duda, escribir a rfestini@dc.uba.ar."

    .col-md-6.col-sm-12
      .h3.text-primary
        Por favor complete los siguientes datos
      = simple_form_for(@user, url: update_user_path(@user), html: { novalidate: false, method: :post }) do |f|
        .form-inputs
          = f.input :age,  collection: User::RANGES, prompt: "Seleccionar una opción", required: true
          = f.input :gender,  collection: User::GENDERS, as: :radio_buttons, required: true
          = f.input :education_level,  collection: User::EDUCATION_LEVELS, prompt: "Seleccionar una opción", required: true
          = f.input :mother_language,  collection: User::MOTHER_LANGUAGES, prompt: "Seleccionar una opción", required: true

          <b>Ocupación:</b>
          <br/>

          .form-group
            = f.input :occupation, required: false
          .form-group
            = f.input :change_work,  collection: User::CHANGE_WORK, prompt: "Seleccionar una opción", required: true
          .form-group
            = f.input :social_plan,  collection: User::SOCIAL_PLAN, prompt: "Seleccionar una opción", required: true

          .form-group
            = f.button :submit, "Continuar", class: 'btn-success btn'

