.container
  .row
    .col-md-6.col-sm-12
      .h3.text-primary
        = "Bienvenidos"
      .panel.panel-default
        .panel-body
          .h4.text
            = "Lo invitamos a participar de este cuestionario que nos ayudará a continuar con nuestro trabajo de investigación académica."
          .h4.text
            = "Su participación no demandará más que unos pocos minutos"
          .h4.text
            = "El cuestionario está compuesto por dos etapas, en la primera se le solicitará que complete una serie de datos personales que serán usados solo con fines estadísticos. En la segunda etapa usted deberá leer un texto y responder dos preguntas con una escala de uno a cinco."
          .h4.text
            = "Cada vez que responda las preguntas y presione el botón continuar le será ofrecido un nuevo texto para evaluar."
          .h4.text
            = "Usted puede Finalizar el cuestionario en el momento que desee."
          .h4.text
            = "Muchas gracias por su participación"
    .col-md-6.col-sm-12
      .h3.text-primary
        Por favor complete los siguientes datos
      = simple_form_for(@user, url: update_user_path(@user), html: { novalidate: false, method: :post }) do |f|
        .form-inputs
          .form-group
            = f.input :age,  collection: User::RANGES, prompt: "Seleccionar una opción", class:'form-control', required: true
          .form-group
            = f.input :gender,  collection: User::GENDERS, as: :radio_buttons, required: true
          .form-group
            = f.input :education_level,  collection: User::EDUCATION_LEVELS, prompt: "Seleccionar una opción", required: true
          .form-group
            = f.input :socioeconomic_level,  collection: User::SOCIOECONOMIC_LEVELS, prompt: "Seleccionar una opción", required: true
          .form-group
            = f.input :mother_language,  collection: User::MOTHER_LANGUAGES, prompt: "Seleccionar una opción", required: true
          .form-group
            = f.input :occupation,  collection: User::OCCUPATIONS, prompt: "Seleccionar una opción", required: true
          .form-group
            = f.button :submit, "Continuar", class: 'btn-success btn'

