.container
  .row
    .col-md-6.col-sm-12
      .h3.text-primary
        = "Título del Proyecto: Estimación automática de complejidad de textos en español."
      .panel.panel-default
        .panel-body
          .h4.text
            = "Responsables del proyecto: Ruben Festini (Departamento de Computación, FCEyN, UBA), Agustín Gravano (CONICET y Universidad Torcuato Di Tella), Sebastián J. Lipina (Unidad de Neurobiología Aplicada, CEMIC-CONICET, Instituto Universitario CEMIC). Para consultas sobre el proyecto contactar a Ruben Festini (rfestini@dc.uba.ar) y a Sebastián Lipina (slipina@cemic.edu.ar)."
          .h4.text
            = "El objetivo general de esta investigación consiste en desarrollar una herramienta informática que permita estimar la lecturabilidad de un texto en forma automática. Dentro de los objetivos específicos planteamos explorar la lecturabilidad de los textos de consentimientos informados, establecer medidas de complejidad y con ello contribuir con una aplicación que ayude a mejorar su comprensión para los participantes de un estudio cuando deben tomar la decisión de participar o no en él."
          .h4.text
            = "A continuación le presentamos un cuestionario cuyo objetivo es profundizar nuestro conocimiento sobre las eventuales dificultades que las personas pueden experimentar durante la lectura de textos de consentimientos informados al evaluar su participación en ensayos clínicos de fármacos experimentales o medicamentos."
          .h4.text
            = "Agradecemos anticipadamente su inestimable colaboración con nuestro trabajo de investigación a través de su participación en este estudio."
          .h4.text
            = "Específicamente, esta actividad consiste en dos partes, que le insumirán un tiempo de entre 10 y 15 minutos."
          .h4.text
            = "En primer lugar, le solicitaremos completar información sobre su edad, género, educación, ocupación, si está trabajando, si percibe algún subsidio,  y leer textos, y para cada uno de ellos responder tres preguntas simples sobre su dificultad. En ninguno de estos casos estaremos recolectando información que nos permita determinar su identidad. Es decir que usted mantendrá su anonimato."
          .h4.text
            = "En segundo lugar, le pediremos que lea un mínimo de 14 textos cortos y luego seleccione dos opciones sobre la dificultad de las palabras y el texto. Una vez completado el número de 14 textos, usted podrá continuar leyendo y respondiendo más (según su deseo), o bien terminar su participación en el cuestionario. Cuántos más textos pueda leer y seleccionar su dificultad, mejorarán nuestras oportunidades de abordar los objetivos de investigación."
          .h4.text
            = "La información a recolectar será utilizada exclusivamente con fines científicos y será incluida en trabajos académicos."
          .h4.text
            = "Agradecemos anticipadamente su inestimable colaboración con nuestro trabajo de investigación a través de su participación en este estudio."


    .col-md-6.col-sm-12
      .h3.text-primary
        Por favor complete los siguientes datos
      = simple_form_for(@user, url: update_user_path(@user), html: { novalidate: false, method: :post }) do |f|
        .form-inputs
          = f.input :age,  collection: User::RANGES, prompt: "Seleccionar una opción", required: true
          = f.input :gender,  collection: User::GENDERS, as: :radio_buttons, required: true
          = f.input :education_level,  collection: User::EDUCATION_LEVELS, prompt: "Seleccionar una opción", required: true
          = f.input :mother_language,  collection: User::MOTHER_LANGUAGES, prompt: "Seleccionar una opción", required: true

          <b>Ocupación:</b>
          <br/>

          .form-group
            = f.input :occupation, required: false
          .form-group
            = f.input :change_work,  collection: User::CHANGE_WORK, prompt: "Seleccionar una opción", required: true
          .form-group
            = f.input :social_plan,  collection: User::SOCIAL_PLAN, prompt: "Seleccionar una opción", required: true

          .form-group
            = f.button :submit, "Continuar", class: 'btn-success btn'
            = f.button :button, 'Cancel', :type => 'reset', :class => 'btn'

