.container
  .row
    .col-md-6.col-sm-12
      .h3.text-primary
        = "Bienvenidos"
      .panel.panel-default
        .panel-body
          .h4.text
            = "El Laboratorio de Inteligencia Artificial Aplicada del Departamento de Computación de la Universidad de Buenos Aires, está desarrollando un estudio titulado \"Complejidad de textos médicos\", con el fin de profundizar el conocimiento de las dificultades de las personas para comprender la dificultad de diferentes tipos de textos."
          .h4.text
            = "Con tal fin, hemos diseñado un cuestionario y una serie de preguntas que nos serán útiles para avanzar con tal objetivo."
          .h4.text
            = "El cuestionario y las preguntas son anónimos, de manera que nadie --ni siquiera los investigadores-- podrá asociar sus respuestas con su nombre."
          .h4.text
            = "Agradecemos anticipadamente su inestimable colaboración con nuestros esfuerzos de investigación científica a través de su participación en este estudio."
    .col-md-6.col-sm-12
      .h3.text-primary
        Por favor complete los siguientes datos
      = simple_form_for(@user, url: update_user_path(@user), html: { novalidate: false, method: :post }) do |f|
        .form-inputs
          .form-group
            = f.input :age,  collection: User::RANGES, prompt: "Seleccionar una opción", class:'form-control', required: true
          .form-group
            = f.input :gender,  collection: User::GENDERS, as: :radio_buttons, required: true
          .form-group
            = f.input :education_level,  collection: User::EDUCATION_LEVELS, prompt: "Seleccionar una opción", required: true
          .form-group
            = f.input :mother_language,  collection: User::MOTHER_LANGUAGES, prompt: "Seleccionar una opción", required: true

          <b>Ocupación:</b>
          <br/>

          .form-group
            = f.input :occupation, required: false
          .form-group
            = f.input :change_work,  collection: User::CHANGE_WORK, prompt: "Seleccionar una opción", required: true
          .form-group
            = f.input :social_plan,  collection: User::SOCIAL_PLAN, prompt: "Seleccionar una opción", required: true

          .form-group
            = f.button :submit, "Continuar", class: 'btn-success btn'

