.container
  .row
    .col-lg-5.col-md-5.col-sm-12
      %b
        Leer el siguiente texto:
      .alert-sourvey
        = @survey.paragraph.text
    .col-lg-7.col-md-7.col-sm-12
      = simple_form_for(@survey, url: update_survey_path(@survey.paragraph_id,@survey.user_id), html: { method: :post }) do |f|
        .form-inputs
          .row
            .col-md-12
              .p
                %b
                  En general ¿cuán difícil de entender le resultó el texto?
          .row.sourvey-row
            .col-md-3.col-sm-12
              Muy difícil de entender
            .col-md-6.form-inline.col-sm-12
              = f.input :q1,  collection: Survey::RANGES, as: :radio_buttons, required: true, label: false
            .col-md-3.col-sm-12
              Muy fácil de entender
          .row
            .col-md-12
              %hr{:class => "custom-line"}
          .row
            .col-md-12
              %b
                En particular, ¿cuán difíciles de entender le resultaron las palabras?
          .row.sourvey-row
            .col-md-3.col-sm-12
              Hay muchas palabras que no entiendo
            .col-md-6
              .form-inline
                = f.input :q2,  collection: Survey::RANGES, as: :radio_buttons, required: true, label: false
            .col-md-3.col-sm-12
              Entiendo sin problemas todas las palabras
          .row
            .col-md-12
              %hr{:class => "custom-line"}

          - if ! @survey.additional_question_answers.empty?
            .row
              .col-md-12
                %b
                  Considerando el texto leido responda las siguientes preguntas:

          -@survey.additional_question_answers.each do |aqa|
            .row.sourvey-row
              .col-md-12
                = aqa.additional_question.question
              .col-md-12
                = f.fields_for :additional_question_answers, aqa do |aqa_row|
                  - if aqa.additional_question.question_type == "1"
                    = aqa_row.input :answer_boolean,  collection: AdditionalQuestionAnswer::ANSWER_BOOLEAN, prompt: "Seleccionar una opción", class:'form-control', required: true, label: false
                  - else
                    = aqa_row.input :answer_text, required: true, label: false

          .row
            .col-md-12
              .form-inline
                = f.button :submit, "Enviar y avanzar al siguiente texto ", :name => "commit",  class: 'btn-success btn'
                - if (3 - @survey.surveys_answered_by_user) > 0
                  = f.button :submit, "Debe completar " + (3 - @survey.surveys_answered_by_user).to_s + " párrafos para finalizar" , :name => "commit", class:'custom-btn', formnovalidate: true
                - else
                  = f.button :submit, "Finalizar mi participación", :name => "commit", class:'custom-btn', formnovalidate: true
